* {
    font-family: 'Titillium Web', sans-serif
}

body {
    font-size: 16px;
}
.font-primary {
    font-family: 'Titillium Web', sans-serif
}
p,
h1,
h2,
h3,
h4,
h5,
dl, ol, ul {
    margin-bottom: 0;
}
#wrapper-menu {
    display: none;
}
/***************************
 *      SLIDER
 *************************** */
.carousel-control-prev,
.carousel-control-next {
    z-index: 111;
}
.carousel-caption {
    text-align: initial !important;
}
.carousel-caption .texto a {
    color: inherit;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}
.carousel-caption .texto {
    font-family: 'Quattrocento Sans', sans-serif;
    padding: .7em .5em;
    background-color: rgba(238,238,238,.95);
    padding: 25px 20px;
    color: #333333;
    font-size: 16px;
    width: 50%;
    margin-top: 0 !important;
}
.carousel-caption .texto *:not(li):first-child {
    color: #1E3874;
    font-size: 31px;
    line-height: 31px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
}
.carousel-caption .texto *:not(:first-child) {
    letter-spacing: .5px;
}
.carousel-caption .texto > * + * {
    margin-top: 10px;
}
.carousel-indicators li {
    background-color: #ffffff;
}
.carousel-item .img {
    height: 485px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.table--image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.button--form {
    border-radius: .5em;
}
/***************************
 *
 *************************** */
.form--fieldset {
    border: 1px solid #707070;
    padding: 1em;
}
.form--fieldset + .form--fieldset {
    margin-top: 1rem;
}
.form--fieldset legend {
    display: inline-block;
    width: auto;
}
.form--input {
    border-radius: .5em;
    border-color: #707070;
    order: 2;
    position: relative;
}
.form--input__target {
    position: relative;
}
.form--input + span {
    position: absolute;
    right: 6px;
    top: calc(50% - 8.5px);
    font-weight: bold;
    color: #c84d1d;
}
.form--input + span::after {
    position: absolute;
    right: 0;
}
.form--input:valid + span::after {
    content: "";
}
.form--input:invalid + span::after {
    content: "*";
}
.form-required {
    text-align: right;
    z-index: 111;
    padding: 1rem;
    position: relative;
}
.form-required::before {
    content: "*";
    font-weight: bold;
    color: #c84d1d;
    margin-right: .7em;
}
.form--input:focus {
    -webkit-box-shadow:inset 0 0 5px 1px #3bceff;
    box-shadow:inset 0 0 5px 1px #3bceff;
}
.form--label + .form--input__target .form--input,
.form--label + .form--input,
.form--label + .pyrus--color .form--input {
    border-top-left-radius: 0;
    margin-top: -1px;
}
.form--label + .form--input__target select.form--input:active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form--label + textarea + .cke_chrome {
    margin-top: -1px;
    border-color: #707070;
}
.form--label + .form--input__target .dropdown-toggle,
.form--label + .form--input .dropdown-toggle {
    border-top-left-radius: 0;
    border-color: #707070;
    opacity: 1;
}
.form--label {
    border: 1px solid #707070;
    padding: 0.375rem 0.5rem;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    margin-bottom: 0;
    font-size: 12px;
    background-color: #f4f4f4;
    color: #707070;
    order: 1;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.form--input .dropdown-toggle {
    border-radius: .5em;
    border-color: #707070;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.form--input .dropdown-toggle::after {
    right: 10px;
}
.form--input .dropdown-toggle[aria-expanded="true"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.modal-body.pyrus--form {
    max-height: calc(100vh - 28px - 28px - 61px - 69px - 58px);
    overflow-y: auto;
}
.pyrus--edit__check {
    border-radius: .5em;
    font-size: 14px;
    width: 250px;
    position: absolute;
    background-color: #ffffff;
}
.pyrus--edit__title {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.pyrus--color {
    display: flex;
}
.pyrus--color__element {
    margin-top: .3em;
    height: 10px;
    border: 1px solid #7C7C7C;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.pyrus--color .form--input:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.pyrus--color .form--input + .form--input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
}
.pyrus--element__target {
    padding: 1em;
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
    border-radius: .5em;
    position: relative;
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}
.pyrus--element__close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #F04124;
    color: #ffffff;
    z-index: 1;
    font-size: 14px;
    line-height: 14px;
    padding: .5em;
    border-radius: 0 .5em;
}
/***************************
 *
 *************************** */
.image--button {
    color: #ffffff;
    background-color: #f04324;
    border: 1px solid #f04324;
    display: inline-block;
    border-radius: .5em;
    padding: .3em .7em;
}
.image--button:disabled {
    color: #707070;
    background-color: #ddd;
    border-color: #ddd;
}
.image--upload {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.171875rem;
    line-height: 1.4em;
    margin-bottom: 0;
    border-radius: .5em;
    border-width: 1px;
    border-style: dashed;
    border-color: #707070;
}
.image--upload__not-empty {
    border-style: solid;
}
.image--upload__no-validate {
    background-color: #F04124;
    color: #ffffff;
}
.image--upload input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}
.image--upload input + span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.image--upload input + span::after {
    content: attr(data-name);
    margin-left: .7em;
}
.image--upload input:required + span::after {
    content: attr(data-name)" (necesario)";
}
.image--upload__attr {
    margin-bottom: .7em;
    background-color: #f8f8f8;
    border: 3px solid #707070;
    padding: .7em .6em;
}
.image--upload__img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .7em;
    border-radius: .5em;
    border-width: 1px;
    border-style: dashed;
    border-color: #707070;
}
.image--upload__validate {
    border-style: solid;
}
.image--wh {
    list-style: none;
    display: flex;
    padding-left: 0;
    flex-direction: column;
}
.image--wh__details li + li {
    margin-left: 0;
    margin-top: .3em;
}
.image--wh__details li + li::before {
    padding-right: 0;
    content: "";
}
.edit--check {
    opacity: .1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
td:hover .edit--check {
    opacity: 1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.check {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
}
.check div {
    border-radius: .5em;
    padding: .7em;
    background-color: #F04124;
    color: #ffffff;
}
.check div::after {
    content: "NO";
    font-weight: 600;
    margin-left: .7em;
}
.check input {
    display: none;
}
.check input:checked + * + div {
    color: #ffffff;
    background-color: #43ac6a;
}
.check input:checked + * + div::after {
    content: "SI";
}
/***************************
 *      EMPRESA
 *************************** */
.social-networks {
    color: #6E6F71;
    font-size: 20px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50em;
    border: 2px solid #6E6F71;
    height: 40px;
    width: 40px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.social-networks:hover {
    text-decoration: none;
    color: #4f9232;
    border-color: #4f9232;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.hover .plus > div.img {
    position: relative;
}
.hover .plus > div.img::before {
    content: "";
    opacity: 0;
    position: absolute;
    background-color: #1f3856;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.hover .plus > div.img::after {
    opacity: 0;
    font-size: 33px;
    content: "";
    position: absolute;
    color: var( --white );
    z-index: 2;
    width: 33px;
    height: 33px;
    left: calc(50% - 33px / 2);
    top: calc(50% - 41px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.hover:hover .plus > div.img::before {
    opacity: .5;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}
.hover:hover .plus > div.img::after,
.hover:hover .plus::before {
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    opacity: 1;
}
.hover:hover .plus > .producto--elemento.img::before {
    border-radius: .3em;
}
.img--not-found {
    max-width: 100%;
    width: 120px;
    height: auto;
}

/**/
.header a,
.header a:hover {
    color: inherit;
    text-decoration: none;
}
.header--address {
    background-color: #f9f9f9;
}
.header--social {
    color: #ffffff;
}
.header--social__element {
    display: inline-block;
    border-radius: .5em;
    padding: 0.1rem 0.5rem;
    background-color: #7C7C7C;
    font-size: 20px;
}
.header--social__element + .header--social__element {
    margin-left: .7em;
}
.header a:hover,
.header .active {
    color: #b0d81a;
}
.header--social__element:hover {
    color: #ffffff !important;
    background-color: #444444;
}
.header {
    color: #7C7C7C;
    font-size: 16px;
    background-color: #ffffff;
}
.header--element {
    display: flex;
    align-self: center;
}
.header--logo {
    width: 235px;
    height: 109px;
}
.header--menu,
.header--info__target {
    display: flex;
    align-items: center;
}
.header--menu li + li {
    margin-left: 1em;
}
.header--info {
    padding: 1em 0;
    background-color: #f3f3f3;
    font-weight: 300;
    font-size: 15px;
}
.header--info__element {
    display: flex;
    font-size: 15px;
}
.header--info__element i {
    font-size: 30px;
    width: 30px;
    margin-right: .2em;
}
.header--info__element + .header--info__element {
    margin-left: 1.5em;
}
.header--title {
    font-weight: 600;
    font-size: inherit;
}
/**/
.pablocorzo {
    font-size: 14px;
    color: rgba(89,89,89,.8);
}
.footer {
    padding-top: 2em;
    background-color: #000000;
    color: #f3f3f3;
    font-size: 14px;
}
.header--social__footer {
    margin-top: 1em;
}
.footer--logo {
    width: 86px;
    height: 77px;
}
.footer--title {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #777777;
    margin-bottom: 1em;
}
.footer--title__info {
    text-transform: initial;
    font-weight: 600;
    font-size: 15px;
    color: #b0d81a;
    margin-bottom: 0;
}
.footer a,
.footer a:hover {
    color: inherit;
    text-decoration: none;
}
.footer a:hover {
    color: #b0d81a;
}
.footer--icon {
    margin-top: .3em;
    font-size: 25px;
    width: 25px;
    color: #777777;
    margin-right: .7em;
}
.footer--list li + li {
    margin-top: .7em;
}
.footer--list__column {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
}
/**/
.button--form__public {
    background-color: #afd931;
    border-color: #afd931;
    color: #ffffff;
}
.button--form__public:hover,
.button--form__public:active {
    background-color: #8eb127 !important;
    border-color: #8eb127 !important;
}
.button--form__public:active:focus {
    box-shadow: 0 0 0 0.2rem rgba(175, 217, 49, 0.5);
}
/**/
.banner {
    background-color: #f8f8f8;
    height: 200px;
    background-image: var(--url);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner--title {
    margin-bottom: 50px;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.banner--title span {
    position: relative;
}
.banner--title span::before {
    position: absolute;
    content: "";
    width: 70px;
    height: 3px;
    background-color: #ffffff;
    bottom: -5px;
    left: 0;
    -webkit-box-shadow: 0 0 15px 0px #000000;
    box-shadow: 0 0 15px 0px #000000;
}
/**/
.contacto {
    background-color: #ffffff;
}
.contacto--map {
    height: 450px;
    border-top: 3px solid #afd931;
}
.contacto--map iframe {
    width: 100% !important;
}
.contacto--form {
    background-color: #eeeeee;
    padding: 2em;
}
.contacto--text {
    background-color: #7C7C7C;
    font-size: 20px;
    color: #ffffff;
}
.contacto--data {
    font-size: 20px;
    color: #afd931;
}
.contacto--data a,
.contacto--data a:hover {
    color: inherit;
    text-decoration: none;
}
/**/
.faq {
    background-color: #ffffff;
}
/**/
.img--gris {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
/**/
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}
@media (max-width: 768px) {
    .carousel-caption .texto {
        width: 100%;
    }
}